nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #009dd6;
  color: #fff;
}

nav a {
  text-decoration: none;
  color: inherit;
  margin-right: 16px;
  font-weight: bold;
}

nav a:hover {
  color: #ffc125;
}
